<div class="classDeSesMorts">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.last_name}} {{user.first_name}}</mat-card-title>
      <mat-card-subtitle>{{user.fonction}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="centerInput">
        <mat-form-field class="example-full-width">
          <mat-label>Mail</mat-label>
          <input disabled matInput placeholder="toto@toto.com" value="{{user.email}}">
        </mat-form-field>
      </div>
      <div class="centerInput">
        <mat-form-field class="example-full-width">
          <mat-label>Nom de famille</mat-label>
          <input disabled matInput value="{{user.last_name}}">
        </mat-form-field>
      </div>
      <div class="centerInput">
        <mat-form-field  class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input disabled matInput value="{{user.first_name}}">
        </mat-form-field>
      </div>
      <div class="centerInput">
        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <input disabled matInput value="{{user.telephone}}">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

</div>
