<div id="burger" class="page-container">
  <div class="colorDarkblue" *ngIf="user != null">
    <button mat-button class="menu-button" (click)="open()">
      <mat-icon class="whiteColor">menu</mat-icon>
    </button>
  </div>
  <div id="menuBurger">
    <a routerLink="/">Accueil</a>
    <a routerLink="/profil">Profil</a>
    <a routerLink="/prospect">Prospect</a>
    <a routerLink="">Client</a>
    <a routerLink="/calendar">Calendar</a>
  </div>
</div>
<div class="wrapper" *ngIf="user !=null">
  <app-menu id="menu" [user]="user"></app-menu>
  <div id="content">
    <div id="contentBody">
      <router-outleLOt></router-outleLOt>
    </div>
  </div>
</div>
<app-login *ngIf="user == null"></app-login>
<lib-cookie-service (isOpened)="onOpen($event)" ></lib-cookie-service>
