.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  background-color: #420562;
}

#content {
  height: 100%;
  width: 100%;
  position: relative;
}

#contentBody {
  padding: 1rem;
  background: linear-gradient(324deg, #f3f3f3, #8381af);
  min-height: 100vh;
}

@media (min-width: 768px) {
  #menu {
    display: block;
  }
  #burger{
    display: none;
  }
}
@media (max-width: 768px) {
  #menu {
    display: none;
  }
  #menuBurger {
    display: none;
  }
  .navActive{
    display: block !important;
  }
  .colorDarkblue{
    background-color: #420562;
  }
  .navActive a {
    display: block;
    text-decoration: none;
  }
}

.whiteColor {
  color: white;
}
