.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  background-color: var(--darkBlue);
}

#content {
  height: 100%;
  width: 100%;
  position: relative;
}

#contentBody {
  padding: 1rem;
  background-color: #2b2e4a;
  min-height: 100vh;
}

@media (min-width: 768px) {
  #menu {
    display: block;
  }
  #burger{
    display: none;
  }
}
@media (max-width: 768px) {
  #menu {
    display: none;
  }
  #menuBurger {
    display: none;
  }
  .navActive{
    display: block !important;
  }
  .colorDarkblue{
    background-color: var(--darkBlue);
  }
  .navActive a {
    display: block;
    text-decoration: none;
  }
}
