<mat-card>
  <div class="form">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="center-align">client : {{client.nom}}</h1>
        </div>
        <div class="col text-align-right">
          <a href="mailto:{{client.mail}}">
            <mat-icon aria-hidden="false" aria-label="Example email icon">email</mat-icon>
          </a>
          <a href="tel:{{client.telephone}}">
            <mat-icon aria-hidden="false" aria-label="Example call icon">call</mat-icon>
          </a>
        </div>
      </div>
    </div>

    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate *ngIf="!sendSuccesfull" action="">
      <mat-grid-list cols="3" rowHeight="5:1">
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Mail</mat-label>
            <input [email] [disabled]="!isEditing" [(ngModel)]="client.mail" #mail="ngModel" name="mail" type="email"
                   required maxlength="254" matInput>
            <div *ngIf="mail.invalid && (mail.touched)" class="alert alert-danger">
              <div class="form--error" *ngIf="mail.errors.required">Une adresse mail doit être renseignée.</div>
              <div class="form--error" *ngIf="mail.errors.maxlength">Adresse email trop longue. 254 caractères max.
              </div>
            </div>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input [disabled]="!isEditing" type="text" matInput #nom="ngModel" maxlength="254" [(ngModel)]="client.nom"
                   name="nom">
            <div *ngIf="nom.invalid && (nom.touched)" class="alert alert-danger">
              <div class="form--error" *ngIf="nom.errors.maxlength">Nom trop longue. 254 caractères max.</div>
            </div>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>prenom</mat-label>
            <input [disabled]="!isEditing" type="text" matInput #prenom="ngModel" maxlength="254"
                   [(ngModel)]="client.prenom" name="prenom">
            <div *ngIf="prenom.invalid && (prenom.touched)" class="alert alert-danger">
              <div class="form--error" *ngIf="prenom.errors.maxlength">prenom trop longue. 254 caractères max.</div>
            </div>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>fonction</mat-label>
            <textarea [disabled]="!isEditing" matInput [(ngModel)]="client.fonction" #fonction="ngModel"
                      maxlength="1024" name="fonction"></textarea>
            <div *ngIf="fonction.invalid && (fonction.touched)" class="alert alert-danger">
              <div *ngIf="fonction.errors.maxlength" class="form--error">fonction trop longue. 1024 caractères max.
              </div>
            </div>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>telephone</mat-label>
            <textarea [disabled]="!isEditing" matInput [(ngModel)]="client.telephone" #telephone="ngModel"
                      maxlength="1024" name="telephone"></textarea>
            <div *ngIf="telephone.invalid && (telephone.touched)" class="alert alert-danger">
              <div *ngIf="telephone.errors.maxlength" class="form--error">telephone trop longue. 1024 caractères max.
              </div>
            </div>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
      <input *ngIf="f.form.valid && isEditing" type="submit" class="form__btn-submit center-button" value="Valider">
    </form>

  </div>
  <mat-card-footer>
    <mat-grid-list cols="2" rowHeight="5:1">
      <mat-grid-tile class="text-align-right">
        <button *ngIf="!isEditing" (click)="editUser()" mat-button>
          <mat-icon class="button-red" aria-hidden="false" aria-label="auto_fix_high icon">auto_fix_high</mat-icon>
        </button>
        <button *ngIf="!client.disabled" (click)="disabledClient(client.id)" mat-button>
          <mat-icon class="button-red" aria-hidden="false" aria-label="disabled_by_default icon">disabled_by_default
          </mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-footer>
</mat-card>
<br>
<mat-card>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Rendez-vous avec ce prospect</h2>
      </div>
      <div class="col text-align-right">
        <a routerLink="/rdvAddClient/{{id}}">
          <mat-icon class="margin" aria-hidden="false" aria-label="icon">add</mat-icon>
        </a>
      </div>
    </div>
  </div>
  <app-rdv-list-component [Client]="true" [listRendezVous]="listRdv"></app-rdv-list-component>
</mat-card>
