/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --darkBlue : #3e5b5f;
  --red : #d35d6e;
}

.text-align-right {
  text-align: right;
}

.fc .fc-col-header-cell-cushion {
  color: white !important;
}
.fc-daygrid-dot-event .fc-event-title,.fc-event-time, .fc-daygrid-day-number, .fc-toolbar-title {
  color: white !important;
}
