<nav id="sidebar">
  <div class="margin">
    <h2 class="mat-body-strong"><a routerLink="/profil">{{user.username}}</a></h2>
    <h3 class="nameEntreprise">{{nameSociete}}</h3>
  </div>
  <hr>
  <div class="menuListSidebar">
    <a routerLink="/accueil">Accueil</a>
    <a routerLink="/prospect">Prospect</a>
    <a routerLink="/client">Client</a>
    <a routerLink="/calendar">Calendar</a>
  </div>
  <div class="bottomMenu">
    <hr>
    <a href="" class="green" *ngIf="admin">Administrateur</a>
    <p class="green pointer" (click)="disconnectUser()">Se déconnecter</p>
  </div>
</nav>
